.titulo {
  color: red;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.botonDark {
  width: 148px;
  height: 43px;
  border-radius: 61px;
  color: #6809e1;
  font-size: 14px;
  font-weight: 400;
  background-color: white;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  transition: all 1s ease;
  cursor: pointer;
}
.botonLigth {
  width: 148px;
  height: 43px;
  border-radius: 61px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid white;
  background-color: black;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  transition: all 1s ease;
  cursor: pointer;
}
.imagen {
  display: flex;
  justify-content: center;
}
